.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  font-family: sans-serif;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.card {
  margin: 8px;
}

.heading {
  /*Change units to make it consistent*/
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem;
  color: var(--text-white-100);
}

@media (max-width: 768px) {
  .container {
    justify-content: center
  }

  .heading {
    text-align: center;
  }
  .cardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
